$font-color: #1e272e;
$font-alternative-color: #808e9b;
$accent-color: #ffefd5;
$background-color: #d2dae2;
$background-alternative-color: #fff;
$header-background-color: #485460;
$footer-background-color: #f7f1e3;
